if (0 != jQuery("#dialogBox").length) jQuery("#dialogBox").remove();
var dialog_zindex = jQuery("[id^=draggable]").length > 0 ? parseInt(jQuery("[id^=draggable]:last").css("z-index")) + 1 : 1000
jQuery("#main").before("<div id='dialogBox' title='<%= l(:label_new_note) %>'></div>");
jQuery("#dialogBox").dialog({ minWidth: 1005, minHeight: 600, modal: true, zIndex: dialog_zindex,
                             create: function() {jQuery("#dialogBox").html("<%= escape_javascript(render 'new') %>");},
                             open: function() {jQuery("#dialogBox").dialog("option","position","center");}
                            });

jQuery('#note_alert_start_datetime').val(null);
jQuery('#note_title').focus();
jQuery('#li-menu-postit').removeClass('open');
jQuery('#ul-menu-postit').attr('style', 'display: none;');


