/* 
    Document   : postit
    Created on : 30 juil. 2012, 12:21:14
    Author     : arnauld.nyaku
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.icon-post-it { background: url(../images/notes-icone-8802-32.png) no-repeat scroll 50% 50% transparent; }
.icon-toggle-notes { background-image: url(../images/notes-postit-icone-7782-16.png); }
#note-preview fieldset {margin-top: 1em; background: url(../images/draft.png)}
.bold {font-weight: bold;}
.new-note { font-size: 11px; }
.block { display: block;}


/* Post it*/

.postit {
  width: 275px;
  margin: 5px;
  border: 1px solid #2B2B2B;
/*  border-top:1px solid #fdfd86;*/
  float: left;
  font-size: 12px;
  background: none repeat scroll 0 0 #F1F1F1;
/*  background: rgb(255,255,136);  Old browsers
  background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%);  FF3.6+ 
  background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1)));  Chrome,Safari4+ 
  background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%);  Chrome10+,Safari5.1+ 
  background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%);  Opera 11.10+ 
  background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%);  IE10+ 
  background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%);  W3C 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88', GradientType=0 );  IE6-9 fallback on horizontal gradient */
}

.postit-content:hover {cursor: move;}

.postit:after {
  content: "";
  width:275px;
  -o-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 transform: matrix(-1, -0.1, 0, 1, 0, 0);
}


.cornershadow {
  content: "";
  position:absolute;
  z-index:-1;
  right: 0px; bottom:9px;
  width:125px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 40px 27px 5px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 40px 27px 5px rgba(0, 0, 0, 0.40);
  -o-box-shadow: 40px 27px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: skew(10deg,10deg) translate(-45px,-15px);
  -webkit-transform: skew(5deg,5deg) translate(-45px,-15px);
  -o-transform: skew(5deg,5deg) translate(-45px,-15px);
  transform: skew(10deg,10deg) translate(-45px,-15px);
}​

#dialogBox{
    height:100%;
    overflow:hidden;
}

.postit-header{
    text-align: right;
    margin-bottom: 5px;
}
.postit-header .icon{
    display: block;
    height: 16px;
    float: right;    
}

.icon-hide { background-image: url(../images/hide.png); }
.icon-display { background-image: url(../images/display.png); }
.icon-close { background-image: url(../images/close.png); }
.icon-postits-up { background-image: url(../images/double_arrow_toggle_up.png); }
.icon-postits-down { background-image: url(../images/double_arrow_toggle_down.png); }
.icon-share { background-image: url(../images/note-partage-icone-7975-16.png); }

.note-created-by, .note-created-by-me {
    margin-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    color: #ffffff;
}

.note-created-by {
    background-color: #404040;
}

.note-created-by-me {
    background-color: #690406;
    margin-top: 0;
}

.note-title, .note-content{
    padding: 5px;
}

.note-title{
    border-bottom: 1px dotted;
    font-weight: bold;
    margin: 0 5px;
}

.postits-div {
  background: none repeat scroll 0 0 transparent;
  position: absolute;
  right: 1px;
  top: 50px;
  z-index: 100;
}

.postits {
  background-color: #fff;
  margin: 0px;
  border: 1px #ddd;
  border-style: none solid solid solid;
}

.post-it-title{
  text-align: right;
}

.message-div {
 font-weight: bold;
 color: #bb0000;
 margin: 5px;
 padding: 1px;
}

.new-note-link {
    margin: 5px 2px;
}

#post-it-nav{
  display:block;
  background:url(../images/background_top_navigation.png) repeat-x left top;
}

#post-it-notes-menu{
    display: block;
    float: left;
    height: 43px;
    line-height: 43px;
    margin-right: 0.5px;
    position: relative;
    background:url(../images/background_top_navigation.png) repeat-x left top;
}

.menu-postit {
    padding: 5px;
    font-size: 13px;
}

.menu-postit-item {
    float: left;
    height: 39px;
    padding: 0 9px;
    font-size: 13px;
    border-left: 1px solid #450308;
}


.icon-add-note { background-image: url(../images/note-ajouter-icone-6022-16.png);}

.icon-view-notes, .icon-hide-notes { background-image: url(../images/notes-postit-icone-7782-16.png);}

.new-note-show {
    border-bottom: 2px solid #404040;
}

.modified-note {
    border-left: 2px solid #404040;
    margin-left: 20px;
    font-style: italic;
}

.modified-note-author {
    border-bottom: 1px dotted;
    color: #404040;
    font-weight: bold;
    margin: 0 5px;
    padding-left: 5px;

}

.note-just-created {

}